.jumbotron {
    padding: 180px 20px;
    background-image: url("./img/Final-Fantasy-Background.jpg");
    background-size: cover;
    
}

.jumbotron * {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-style: oblique;
}
